<title>{{page.title}}</title>
<h1>{{page.header}}</h1>
<!-- <div>
  <table>
		{{#each page.links}}
      <tr>
        {{name}}
      </tr>
      <tr>
        {{price}}
      </tr>
    {{/each}}
  </table>
</div> -->
